<div class="logo-wrapper">
  <a href="{{ "/" | relLangURL }}" class="logo">
    {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
      <a href="mailto:ramiroau@gmail.com" class="iconfont icon-email" title="email"></a>
      <a href="http://twitter.com/ramiroau" class="iconfont icon-twitter" title="twitter"></a>
      <a href="https://ramiroau.github.io/index.xml" type="application/rss+xml" class="iconfont icon-rss" title="rss"></a>

    {{- else -}}
      {{ .Site.Title }}
    {{- end -}}
  </a>
</div>

<style>

.header .site-navbar .menu  {

  font-size: 4px;
}

.header .logo-wrapper .logo {

    font-family: 'Jost', 'Futura', 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.mobile-navbar .mobile-header-logo .logo a {
 
    font-family: 'Jost', 'Futura', 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 500;

}
.post-header .post-title {

  font-family: 'Jost', 'Futura';

}

.element.style {
  list-style: square inside;
  list-style-type: disc;
}

}

<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">


</style>



<nav class="site-navbar">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/mine.css">
  <ul id="menu" class="menu">
    {{ range .Site.Menus.main -}}
      <li class="menu-item">
        <a class="menu-item-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
      </li>
    {{- end }}
  </ul>
</nav>