{{ define "content" -}}
  <article class="post">
    <!-- post-header -->
    <header class="post-header">
        <h4>{{.Params.author}}, {{ .Params.citation | safeHTML }}</h4>
        <hr class="textwidth-line">
        <div class="pub-meta">
          {{ if .Params.doi }}<span class="pub-meta-item"><a href="http://dx.doi.org/{{.Params.doi}}">doi:{{.Params.doi}}</a></span>{{ end }}
          {{ if .Params.isbn }}<span class="pub-meta-item">isbn: {{.Params.isbn}}</span>{{ end }}  
          {{ if .Params.issn }}<span class="pub-meta-item">issn: {{.Params.issn}}</span>{{ end }}  
          {{ if .Params.pages }}<span class="pub-meta-item">pages: {{ .Params.pages }}</span>{{ end }}
          {{ if .Params.ssrn }}<span class="pub-meta-item"><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id={{ .Params.ssrn }}">ssrn: {{ .Params.ssrn }}</a></span>{{ end }}
          {{ if .Params.uri }}<span class="pub-meta-item"><a href="{{.Params.uri}}">url</a></span>{{ end }}
          {{ if .Params.delivery_date }}<span class="pub-meta-item">Envío: {{ dateFormat "Jan 2, 2006" .Params.delivery_date}}</span>{{ end }}
          {{ if .Params.acceptance_date }}<span class="pub-meta-item">Aceptación: {{ dateFormat "Jan 2, 2006" .Params.acceptance_date}}</span>{{ end }}
          {{ if .Params.published_date }}<span class="pub-meta-item">Publicación: {{ dateFormat "Jan 2, 2006" .Params.published_date}}</span>{{ end }}
          {{ if .Params.file }}<span class="pub-meta-item"><a href="{{.Site.BaseURL}}files/papers/{{.Params.file}}">PDF</a></span>{{ end }}
        </div>
        <hr class="textwidth-line">

    </header>

    <!-- Content -->
    <div class="post-content">
      {{ .Content }}
    </div>

    <!-- Copyright 
    {{- partial "post/copyright.html" . -}}-->

    <footer class="post-footer">
      {{ with .Params.tags -}}
        <div class="post-tags">
          {{ range . -}}
            <a href="{{ "tags" | relLangURL }}/{{ . | urlize }}/">{{ . }}</a>
          {{ end -}}
        </div>
      {{- end -}}

      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection -}}
          <a class="prev" href="{{ .RelPermalink }}">
            <i class="iconfont icon-left"></i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ T "prevPost" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection -}}
          <a class="next" href="{{ .RelPermalink }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="next-text nav-mobile">{{ T "nextPost" }}</span>
            <i class="iconfont icon-right"></i>
          </a>
        {{- end }}
      </nav>
    </footer>

  </article>
{{- end }}
