{{- define "title" }}{{ T "archive" }} - {{ .Site.Title }}{{ end -}}

{{- define "content" }}

{{ $baseurl := .Site.BaseURL }}
{{ $pubpages := where .Data.Pages "File.Dir" "ne" "publicaciones/autonomous-items/" }}

<div class="content-wrapper">
  <div id="content" class="content">

    <!-- post-header -->
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>

    </header>
    
<!-- <h1 class = "post post-title">Publications</h1> -->

<div>
  <h6><a href="https://ramiroau.github.io/files/papers/rau-vita.pdf">→ CV en PDF (completo)</a></h6>
</div>  

<h2>Trabajos en curso</h2>

{{ $working := where $pubpages "Type" "working_papers" }}
{{ range $working.ByPublishDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .RelPermalink }}">/ Resumen</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

<h2>En prensa</h2>

{{ $forthcoming := where $pubpages "Type" "en_prensa" }}
{{ range $forthcoming.ByPublishDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .RelPermalink }}">/ Resumen</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}


<h2>Artículos</h2>

{{ $articles := where $pubpages "Type" "articulos" }}
{{ range $articles.ByPublishDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .RelPermalink }}">/ Resumen</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}


<h2>Capítulos / Obras colectivas</h2>

{{ $chapters := where (where $pubpages "Type" "capitulos") ".Params.kind" "!=" "book" }}
{{ range $chapters.ByPublishDate.Reverse }}
{{ if ne .Params.kind "book" }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .RelPermalink }}">/ Abstract</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

{{ end }}

<h2>Reseñas</h2>

{{ $reviews := where $pubpages "Type" "reviews" }}
{{ range $reviews.ByPublishDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .RelPermalink }}">/ Resumen</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

<h2>Retirados</h2>

{{ $retired := where $pubpages "Type" "retirados" }}
{{ range $retired.ByPublishDate.Reverse }}
<p>{{ .Params.citation | safeHTML }} 
  <a href="{{ .RelPermalink }}">/ Resumen</a> 
  {{ if isset .Params "file" }}
  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}">/ PDF</a>
  {{ end }}
</p>
{{ end }}

  </div>
</div>

{{- end }}
