<div class="widget-container" style="width:100%; margin: 1.5rem 0;">                  
  <iframe                                                                             
    src="{{ .Get "src" }}"                                                            
    width="{{ default "100%" (.Get "width") }}"                                       
    height="{{ default "500" (.Get "height") }}"                                      
    frameborder="0"                                                                   
    scrolling="no"                                                                    
    style="border:none; display:block; width:100%;"                                   
    loading="lazy">                                                                   
  </iframe>                                                                           
</div> 